@model TaskEvaluation.Core.Entities.DTOs.LoginDTO
<form asp-action="Login">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
